$icon-size:50px;
$gradient:linear-gradient(to right,#4776E6,#8E54E9);
$main-color:#6c77ce;

body{
font-family: 'Lato', sans-serif;

}
h1,h2,h3,h4{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Raleway', sans-serif;
}
.navbar{
  .nav-link{
        margin-right:30px;
        margin-top:8px;
        margin-bottom:8px;
        font-size:1.0em;

    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: .3s .1s;
    -webkit-background-clip: text;
  }
  .nav-link:hover{
    background-position: 0 0;
    background-image: $gradient ;

  transition: .4s 0;
  }
font-family: 'Maven Pro', sans-serif;
}
.bg-dark{
  background-color:black !important;
  opacity: 0.8;
}

.hero{
    clip-path: polygon(0 0, 1600px 0, 1600px 86%, 0 100%);
    width: 100%;
    height:750px;
    // background-color: #000;
    background:url(../img/hero2.jpeg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
        .text-dark{
          font-size:3.5em;
        }
   .box{
     padding-top:300px;

   }
   .box .btn-danger{
     background-color:#6c77ce;
     border:none;
     border-radius: 0;
     margin-top:140px;
   }

      .typed-cursor{
        font-weight:bold;
        color:$main-color;
      	opacity: 1;
      	animation: blink 0.7s infinite;
      }
      @keyframes blink{
      	0%{
      		opacity: 1;
      	}
      	50%{
      		opacity: 0;
      	}
      	100%{
      		opacity: 1;
      	}
      }

}

#about-section{

.progress{
  height:4px;
}

img.img-fluid{
width:180px;
float:left;

}
.clearfix{
  clear:both;
}
div.brief{
  padding:50px 0 0 230px;

}

h1{
  font-size:3.0rem;
  font-weight:bold;

}

.progress-bar{
  background:$gradient;
  transition:width -0.7s ease;
}

}

#service-body{

  .p-0{
    font-size:19px;
    color: black;
  }

   .fa{
  font-size: $icon-size;
  background:$gradient;
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
   }
   padding-bottom:80px;
h3{
  color: black;
   font-size: 2.0rem;

}

}

#work-body{
background-color:#fff;

li{
  font-size:0.9 em;
  letter-spacing: 2px;
  color:#6c77ce;
}

a{
  text-decoration: none;
  color:black;
  font-size: 0.9em;
}
.float{

float: right;
  right: 0;

}
h3{
  font-size:2.4rem;
  font-weight:800;
  padding-bottom: 35px;
  color:#000;
}
img{
  height:500px;
width:400px;
}

.description{
padding-top:100px;

}

.right{
  padding-right:170px;
}
.left{
  padding-left:170px;
}

}

#map{
  width:100%;
  height:100%;
   min-height:300px;
}

#work-head{

padding-top:150px;

h1{
  font-size:3.0rem;
  font-weight:bold;

}
background-color:#fff;

}

#service-head{
  h1{
    font-size:3.0rem;
    font-weight:bold;

  }


}

#contact-head{
  background-color:#fff;
  padding-top:180px;

}
#contact-body{
  background-color:#fff;

  .form-control{
    border-radius:0;
    border-color:#777;
    padding:13px;
  }
   .btn{
     background-color:#000;
     border-radius:0;
     border:none;
   }
}

footer{
  padding-top:40px;
  padding-bottom:10px;
  background-color:#fff;
  span{
    font-size:1.1rem;
     color: black;
  }
  .social{
    text-align:right;
  }
  a{
    color: black;
    padding:20px;
  }

.fa{

  color: black;
}

}

hr{
  border: 2px solid #6c77ce;

  max-width:65px;
}

@media (max-width:767px){

.hero{
    height: 400px;
  .text-light{
    font-size:22px;
  }

  .box .btn-danger{

    margin-top:70px;
  }

}
.hero .box{
  padding-top:161px;
}

#about-section{
  div.brief{
    padding:0 0 0 0;

  }
  img.img-fluid{
    float: none;
    width:150px;
  }
}

  #contact-head{
    padding-top:60px;
  }

.float{
  float: none;
  position: relative;


}
#work-head{
  padding:0;
}

#work-body .left{
  padding:0;
}

#work-body img{
  width:100%;
  height: 100%;
}

#work-body .description{
  padding-top:0px;
  display: inline;
}
.order-1{
  order:2;
}
.order-2{
  order:1;

}
.frm{
  padding-bottom:15px;
}

.copywrite{
  text-align: center;
}
footer .social{
  text-align: center;
  padding-top:20px;
}

}
